<div [ngClass]="alert" class="alert" role="alert">
    A simple success alert—check it out!
  </div>

  <button type="button" (click)="alert = 'alert-info'" class="btn btn-outline-info">Info</button>
  <button type="button" (click)="alert = 'alert-success'" class="btn btn-outline-success">Success</button>


  <h3 [ngClass]=" { 'text-danger':porperty.danger,'text-info':!porperty.danger,'mt-4':true } ">
    Hi World
  </h3>

  <button (click)="porperty.danger = !porperty.danger" type="button" [ngClass]=" { 'btn-outline-danger':porperty.danger,'btn-outline-info':!porperty.danger,'mt-4':true } " class="btn">Change</button>

  <h3 class="mt-4">
    Proceso Asincrono
  </h3>

  <button type="button" name="button" class="btn btn-outline-primary" (click)="execute()" [disabled]="louding">
    <!-- <i class="fa fa-save"></i> -->
    <i [ngClass]="{ 'fa-save':!louding, 'fa-refresh fa-spin':louding }" class="fa "></i>
    <span *ngIf="!louding">
      Save Changes
    </span>
    <span *ngIf="louding">
      Please wait....
    </span>
    
  </button>