<app-navbar></app-navbar>
<div class="container main-container">

  <h1> Demos <small>angular</small> </h1>
  <hr>
  <router-outlet></router-outlet>

  <!-- <app-ng-style></app-ng-style> -->
  <!-- <app-css></app-css> -->
  
  <!-- <app-class ></app-class>

  <p [appHighlighted]="'green'">
    explame video 2
  </p> -->
  <!-- <app-ng-switch></app-ng-switch> -->
</div>